##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [53]:
variable=""
print(variable)

2. > Create a variable containing your name (Points : 5)

In [54]:
nama="Erstyna"
print(nama)

Erstyna

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [2]:
classroom = ["meja","kursi","buku","pulpen","spidol"]
print(classroom)

['meja', 'kursi', 'buku', 'pulpen', 'spidol']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [52]:
fruits = {
    'name': 'melon',
    'color': 'green'
}

fruits

{'color': 'green', 'name': 'melon'}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [29]:
price = 12000
quantity_sold = 20
discount = 10/100

total = price*quantity_sold - price*quantity_sold*discount
print(total)

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [62]:
# Create list of countries in the world (total 7 countries) (Points : 5)

countries = ['Indonesia', 'Malaysia', 'Singapore', 'America', 'India', 'Japan', 'Thailand']

In [30]:
# Get 4 countries from the first index of the list (Points : 5)

countries[:4]

['Indonesia', 'Malaysia', 'Singapore', 'America']

In [63]:
# Append new country to the list (Points : 5)

countries.append('Turkey')
countries

['Indonesia',
 'Malaysia',
 'Singapore',
 'America',
 'India',
 'Japan',
 'Thailand',
 'Turkey']

In [64]:
# Drop one country from the list (Points : 5)

countries.remove('India')
countries

['Indonesia',
 'Malaysia',
 'Singapore',
 'America',
 'Japan',
 'Thailand',
 'Turkey']

In [65]:
# Get country in the last index (Points : 5)

countries[6]

'Turkey'

# Dictionary Data Operation

6. >  Follow the instructions below

In [48]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [37]:
# Print all keys in customer (Points : 5)

dict.keys(customer)

dict_keys(['name', 'age', 'gender', 'membership'])

In [39]:
# Print all customer names (Points : 5)

customer['name']

['Dio', 'Eka', 'Wayu', 'Riki']

In [40]:
# Print the first customer name (Points : 5)

customer['name'][0]

'Dio'

In [50]:
# Drop "age" key from the dictionary (Points : 5)

del customer['age']
customer

{'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver'],
 'name': ['Dio', 'Eka', 'Wayu', 'Riki']}

In [51]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


customer['gender'] = ['Male','Female','Female','Male']
customer

{'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver'],
 'name': ['Dio', 'Eka', 'Wayu', 'Riki']}