##Topic 4 - Loop, Conditional Statement & Function Assignment

# Loop

Write a "for" loop to iterate and print value from 100 to 200 (Points 5)

In [3]:
for i in range(100,201):
  print(i)

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200

Write a for loop to iterate and print the **odd numbers** between from 0 to 100  (Points 10)

In [7]:
for i in range (0,101):
  if(i%2==1):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

Write a "While" loop to iterate and print value from 0 to 50 (Points 5)

In [9]:
i = 0
while(i<=50):
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

# Loop with Conditional Statement

Given the list below

age=[10,15,30,90,100,10,20]

Loop through the list and print all of the value (Points 5)

In [10]:
ages = [10,15,30,90,100,10,20]

for age in ages:
  print(age)

10
15
30
90
100
10
20

Using loop and conditional statement, print **all the value higher than 50** (Points 10)

In [12]:
ages = [10,15,30,90,100,10,20]

for age in ages:
  if(age>50):
    print(age)

90
100

Using loop and conditional statement, replace **all the value lower than 50** into "Low Value" (Points 15)

In [40]:
ages = [10,15,30,90,100,10,20]

for age in ages:
  if(age<50):
    print("Low Value")
  else:
    print(age)

Low Value
Low Value
Low Value
90
100
Low Value
Low Value

# Function

Create a function to find the area of a rectangle. (Points 15)

In [76]:
def rectangle_area(width,height):
  area = width*height
  return area

rectangle_area(4,8)

32

## Create a function to transform string into uppercase. This function will have one parameter input:

x= string of word

i.e
x="I love food" => x="I LOVE FOOD"

(Points 15)

In [75]:
def stringtransform(x):
  return x.upper()

stringtransform("I love food")

'I LOVE FOOD'

Create a function called "calculate". This function will have three parameter input :

1. a= a number input
2. b= a number input
3. method = "+" , "-" , "*" , "/"

The function will return the value based on the method chosen. 
i.e 
if "*" is in input parameter then the function will return a+b (Points 20)

In [78]:
def calculate(a,b,method):
  if (method=='+'):
    print(a+b)
  elif (method=='-'):
    print(a-b)
  elif (method=='*'):
    print(a*b)
  else:
    print(a/b)

calculate(10,15,'*')

150